<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Google Maps
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar placeholder="Buscar" (ionChange)="buscarEndereco($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [hidden]="!listaEnderecos.length">
    <ion-item *ngFor="let local of listaEnderecos" lines="full" (click)="tracarRota(local)">
      <ion-label class="ion-text-wrap">
        {{local.description}}
      </ion-label>
    </ion-item>
  </ion-list>
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>
